:root {
    --background-color1: #303030;
    --background-color2: #202020;
    --background-color3: #b4b4b4;
    --background-color4: #e4e4e4;

    --border-color1: #ffffff2f;
    --border-color2: #0000006f;

    --square-length: 10vh;

    --color1: #ffffff8f;
    --color2: #0000008f;

    --board-height: 80vh;
    --board-width: 80vh;
    --board-box-length: 10vh;
}

* {
    box-sizing: border-box;
    margin: 0px;
    color: var(--color1);
    font-family: monospace;
}


body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color1);
}

button {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0px;
    border-bottom: 2px solid var(--color1);
    padding: 20px;
    text-align: center;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5em 0.3em -0.4em var(--color1);
}

#inputForm {
    font-size: large;
    display: flex;
    height: 30vh;
    min-height: 150px;
    width: 80vw;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color1);
    border-radius: 5px;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--background-color2);
    transition: 200ms;
}

.inp-div-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.lab-inp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#xLength,
#yLength {
    border: none;
    width: auto;
    border-bottom: 2px solid var(--border-color1);
    /* border-top: 2px solid var(--border-color1); */
    border-radius: 5px;
    font-size: x-large;
    font-weight: bolder;
    background-color: transparent;
    color: var(--color1);
    text-align: center;
    outline: none;
}

.numInDiv {
    height: 7vh;
    border-radius: 3.5vh;
    /* background-color: var(--background-color1); */
    padding: 0px 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inc-button,
.dec-button {
    background-color: transparent;
    color: var(--color1);
    border-radius: 3.5vh;
    font-size: xx-large;
    font-weight: bolder;
    padding: 0px;
    border: none;
}

.inc-button:active,
.inc-button:hover {
    color: #00a800;
}

.dec-button:active,
.dec-button:hover {
    color: #ff0000;
}

#startButton,
#restart{
    background-color: var(--background-color1);
    border: 1px solid var(--border-color1);
    border-radius: 10px;
    padding: 10px;
    font-size: large;
}

#restart0{
    background-color: var(--background-color1);
    border: none;
    font-size: large;
}

#startButton:active,
#restart:active {
    background-color: var(--background-color2);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
}

#board {
    position: absolute;
    top: 80px;
    height: var(--board-height);
    width: var(--board-width);
    background-color: var(--background-color4);
    flex-direction: row;
    flex-wrap: wrap;
    transition: 200ms;
    border-radius: 5px;
}


.subBox {
    height: var(--board-box-length);
    width: var(--board-box-length);
    border: 1px solid var(--border-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 5px;
}

.cover {
    border: 1px solid var(--border-color2);
    cursor: pointer;
}

.cover:hover {
    border-width: 3px;
}

#result {
    position: absolute;
    font-size: large;
    height: 30vh;
    min-height: 150px;
    width: 80vw;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color1);
    border-radius: 5px;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--background-color2);
    transition: 200ms;
}

#result span {
    font-size: xx-large;
    font-weight: bolder;
}

.hide {
    display: none;
}

/* @media(max-width : 80vh) {
    :root {
        --board-length: 100vw;
    }
} */